@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-gradient-to: #4f46e5;
  --tw-gradient-from: #9333ea;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(147, 51, 234, 0));
}

.logo-text {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3rem;
  font-weight: 400;
  font-size: 18px;
}
